#Register{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 20px;
    position: absolute;
    align-self: center;
    justify-self: center;

}
form{
    background-color: rgb(255, 255, 252);
    padding: 50px;
    margin:10px 20px 20 px 30px ;
    position: relative;
    align-self: center;
}