#signin{
    height: 50vh;
    width: 50%;
    align-items: center;
    display: flex;
    position: relative;    
}


nav{
    border: 5px black;
   >ul{
    display: flex;
    text-decoration: none;
    width: 100%;
    background-color: rgb(250, 241, 241);
    opacity: 0.7;
    color: $color4;
    justify-content: space-between;
    margin: 2rem;
    padding: 5px;
    color: black;
    border-radius: 5px;
    gap: 5px;
    >li{
      
        border: 1px solid $color6_1;
        padding: 0.5rem 2rem;
        background-color: $color1;
        cursor: pointer;
        color: $color6;
        letter-spacing: 1px;
        font-weight: 500;
        transition: all 0.3s;
        &:hover {
          background-color: $color6;
          color: $color4;
        }
    }
        
    
   }

}